<mat-dialog-content>
  <div class="sectionTitle">update post</div>
  <!-- Update post Form -->
  <div class="updatePost form-container bg-light p-5 my-5 rounded shadow-sm">
    <form [formGroup]="updatePostForm">

      <mat-form-field appearance="outline" class="d-block my-2">
        <mat-label>Title</mat-label>
        <input type="text" matInput placeholder="Enter title of post" required formControlName="title">
        <mat-error>Title is <strong>required</strong></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="d-block my-2">
        <mat-label>article</mat-label>
        <textarea type="text" matInput placeholder="Enter your article here" required formControlName="article"></textarea>
        <mat-error>article is <strong>required</strong></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="d-block my-2">
        <mat-label>image source</mat-label>
        <input type="text" matInput placeholder="Enter your source link here" required formControlName="imgArticle">
        <mat-error>image source is <strong>required</strong></mat-error>
      </mat-form-field>

    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cencel</button>
    <button mat-button color="primary" [disabled]="updatePostForm.invalid" [mat-dialog-close]="updatePostForm.value" (click)="updatePost()">Update</button>
  </div>
</mat-dialog-actions>
