<div class="home">

  <div class="headerHome row">
    <div class="blogImg col-lg-6">
      <img  src="assets/blog.png" alt="blog home image">
    </div>
    <div class="blogTitle col-lg-6 p-3">
      <div class="info">
        <h1> <strong>Peaqock</strong> <br> Blog Anything, anyWhere, <br> For Free.</h1>
        <button mat-raised-button routerLink="/singUp">start for free</button>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div class="sectionTitle">about us</div>

  <div class="big-container text-center">
    <p>
      Peaqock helps financial institution to deliver genuine added value with models based on open innovation and client co-innovation. More Services.
    </p>

    <img class="my-4" src="assets/peaqock2.png" alt="peaqock image" width="300" height="100">

  </div>

</div>
