<div class="pageNotFound big-container bg-light p-3 shadow-sm rounded my-4">

  <img src="assets/pageNotFound.svg" alt="page not found 404">

  <h1 class="mt-4">oh no! error 404</h1>

  <p class="mb-4">maybe bigfoot has broken this page. come back to the homepage</p>

  <mat-card-actions>
    <button mat-raised-button color="primary" class="main" routerLink="/posts">Go To Homepage</button>
    <button mat-button color="primary" class="mx-2">Talk with Support Team</button>
  </mat-card-actions>


</div>
